*,
::after,
::before{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
.box{
    height:350px;
    width:150px;
}
.row{
    border: 1px solid black;
    & div{
        border: 1px solid black;
    }
    & select{
        border: 1px solid black;
    }
}


footer{
    margin-top:0.5em;
    border: 2px solid grey;
    padding: 0.5rem;
}

nav{
    background-color: red;
}
ul li{
    background-color: #5388D8;
    margin: 0.5rem;
    border-top-right-radius:25% ;
    border-bottom-left-radius:25% ;
}

/* Imaraan Sheldon */